.container {
    padding-top: 10px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.form-horizontal {
    width: 100%;
}

input[type="text"] {
    height: 25px;
}

.navbar .nav > li > a {
    color: #000000;
}

.form-horizontal .control-label {
    text-align: left
}

ul > li { display: inline-block; /* You can also add some margins here to make it look prettier */ zoom:1; *display:inline; /* this fix is needed for IE7- */ }
