.container {
    padding-top: 10px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.form-horizontal {
    width: 100%;
}

input[type="text"] {
    height: 25px;
}

.navbar .nav > li > a {
    color: #000000;
}

.form-horizontal .control-label {
<<<<<<< HEAD
    text-align: center;
}

.submit-button {
    width: 50;
    height: 20;
=======
    text-align: left
>>>>>>> 78cf820c71ca187853ea34bd99cb6bfa3d4ece2d
}

ul > li { display: inline-block; /* You can also add some margins here to make it look prettier */ zoom:1; *display:inline; /* this fix is needed for IE7- */ }
