.container {
    padding-top: 10px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.form-horizontal {
    width: 100%;
}

.inputform {
 display:none;
}

.banner{
    min-width:100%;
    height:80px;
    width:auto;
}

input[type="text"] {
    height: 25px;
}

.navbar .nav > li > a {
    color: #000000;
}

.form-horizontal .control-label {
    text-align: center;
}

.submit-button {
    width: 50;
    height: 20;
    text-align: left
}

ul > li {
display: inline-block;
 zoom:1;
 *display:inline;
  }
